@using BlazorOllamaGlobal.Client.Models.ToolModels
@using BlazorOllamaGlobal.Client.Services.Tiles

@inject NoteService NoteService

<div class="note-tile-container">
    <RadzenTextBox Placeholder="Note Title..." @bind-Value="currentNote.Title" Style="width: 100%; margin-bottom: 1rem;" />
    <RadzenHtmlEditor @bind-Value="@currentNote.Content" Style="flex-grow: 1; width: 100%;">
        <RadzenHtmlEditorBold/>
        <RadzenHtmlEditorItalic/>
        <RadzenHtmlEditorUnderline/>
        <RadzenHtmlEditorStrikeThrough/>
        <RadzenHtmlEditorAlignLeft/>
        <RadzenHtmlEditorAlignCenter/>
        <RadzenHtmlEditorAlignRight/>
        <RadzenHtmlEditorJustify/>
        <RadzenHtmlEditorIndent/>
        <RadzenHtmlEditorOutdent/>
        <RadzenHtmlEditorUnorderedList/>
        <RadzenHtmlEditorOrderedList/>
        <RadzenHtmlEditorLink/>
        <RadzenHtmlEditorUnlink/>
        <RadzenHtmlEditorFontName/>
        <RadzenHtmlEditorFontSize/>
        <RadzenHtmlEditorFormatBlock/>
    </RadzenHtmlEditor>
    <div style="display: flex; flex-direction: row; margin-top: 1rem;">
        <RadzenButton Text="Save" ButtonStyle="ButtonStyle.Primary" Style="width: 100%;" Click="@(() => NoteService.SaveNote(currentNote))" />
    </div>
</div>

@code {
    [Parameter] 
    public Note currentNote { get; set; } 
}